body {
  background-color: #f6f6ef;
}

body.index {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h3 {

}

a { 
  color: #333;
}

ol.breadcrumb {
  background-color: #FF742B;
}

.breadcrumb>.active {
  color: #fff;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #FF742B;
  margin: 1em 0;
  padding: 0;   
}

.post { margin-bottom: 2rem; }
.post-date { margin-bottom: 1.25rem; color: #999; }
.sidebar-module {margin: 0 -15px 15px;padding: 15px;}
.sidebar-module-inset {
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 15px;
}
#mc_embed_signup .clear {clear:none; display:inline;}

.negative { color: red; background-color: #f2dede; }
.positive { color: green; background-color: #dff0d8; }

.chart-filters select, .chart-filters input { margin-right: 10px; margin-left: 10px; }

/*  <style>
.sidebar h4 { margin-top: 25px;border-bottom: 1px solid #DDDDDD; }
.sidebar ul { list-style-type: none; margin: 0; padding: 0; }
.sidebar li { list-style-type: none; margin: 2px 0; padding: 0; }
.term-compare { width: 100px; }
    #topfilter { width: 100px; }
    .sidebar h4 { margin-top: 25px;border-bottom: 1px solid #DDDDDD; }
    .sidebar ul { list-style-type: none; margin: 0; padding: 0; }
    .sidebar li { list-style-type: none; margin: 2px 0; padding: 0; }
*/

#carbonads {
  --width: 180px;
  --font-size: 14px;
}

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
  max-width: var(--width);
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, .1);
  background-color: hsl(0, 0%, 98%);
  font-size: var(--font-size);
  line-height: 1.5;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

.carbon-img {
  display: block;
  margin-bottom: 8px;
  max-width: var(--width);
  line-height: 1;
}

.carbon-img img {
  display: block;
  margin: 0 auto;
  max-width: var(--width) !important;
  width: var(--width);
  height: auto;
}

.carbon-text {
  display: block;
  padding: 0 1em 8px;
}

.carbon-poweredby {
  display: block;
  padding: 10px var(--font-size);
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .025) 5px, hsla(0, 0%, 0%, .025) 10px) hsla(203, 11%, 95%, .4);
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 600;
  font-size: 9px;
  line-height: 0;
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
  #carbonads {
    float: none;
    margin: 0 auto;
    max-width: 330px;
  }
  #carbonads span {
    position: relative;
  }
  #carbonads > span {
    max-width: none;
  }
  .carbon-img {
    float: left;
    margin: 0;
  }

  .carbon-img img {
    max-width: 130px !important;
  }
  .carbon-text {
    float: left;
    margin-bottom: 0;
    padding: 8px 20px;
    text-align: left;
    max-width: calc(100% - 130px - 3em);
  }
  .carbon-poweredby {
    left: 130px;
    bottom: 0;
    display: block;
    width: 100%;
  }
}